name: Create stable release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  create-release:
    permissions:
      contents: write
      id-token: write
    uses: workleap/wl-reusable-workflows/.github/workflows/create-stable-release.yml@main

  upload-artifacts:
    needs: create-release
    if: needs.create-release.outputs.has_release == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Upload schemas to release
        env:
          GH_TOKEN: ${{ github.token }}
          LATEST_RELEASE: ${{ needs.create-release.outputs.version }}
        run: make upload-artifacts
