name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  id-token: write
  pull-requests: read

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      adrs: ${{ steps.filter.outputs.adrs }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            adrs:
              - './docs/decisions/**'

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint schemas
        run: make lint

  lint-adrs:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.adrs == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint ADRs
        run: cd docs/decisions && make lint

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate schemas
        run: make validate

  validate-adrs:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.adrs == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Validate ADRs
        run: cd docs/decisions && make validate

  schema-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run schema unit tests
        run: make test/schema

  folding-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test folding of configurations
        run: make test/folding
