name: CI

on:
  pull_request:
    branches: [main]

jobs:
  validate-schemas:
    runs-on: [idp]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Validate schema version patterns
        run: make validate

      - name: Validate examples against schemas
        run: make test/examples

  validate-config-folding:
    runs-on: [idp]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Fold configurations and validate results against schemas
        run: make test/fold

  validate-chart-generation:
    runs-on: [idp]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Azure Login using OIDC
        uses: workleap/wl-github-actions/.github/actions/tools-azure-login@main
        with:
          variables: ${{ toJSON(vars) }}
          subscription-id: ${{ fromJSON(vars.INFRA_CONFIG).repo_identity_subscription_id }}

      - name: Log in to ACR using Azure CLI
        run: |
          az acr login --name "$env:ACR_NAME"
          $PASSWORD = az acr login --name "$env:ACR_NAME" --expose-token --output tsv --query accessToken | Out-String
          $PASSWORD = $PASSWORD.Trim()
          helm registry login "$($env:ACR_NAME).azurecr.io" `
            --username "00000000-0000-0000-0000-000000000000" `
            --password "$PASSWORD"
        env:
          ACR_NAME: infra0prod0global0registry0acr0ea18c271c312

      - name: Generate Helm chart and template manifests from example config
        run: make test/chart



