name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.0.4

      - name: Lint schemas
        run: make lint

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.0.4
      
      - name: Validate schemas
        run: make validate

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.0.4

      - name: Test folding of configurations
        run: make test
