name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  validate-schemas:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.0.4
      
      - name: Validate schema version patterns
        run: make validate

  lint-schemas:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.0.4

      - name: Lint schemas
        run: make lint

  test-config-folding:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install JSON Schema CLI
        uses: sourcemeta/jsonschema@v14.0.4

      - name: Fold configurations and validate results against schemas
        run: make test/folding

